<template>
    <div id="app">
        <h1>First prototype</h1>
        <h2>Please input your time frame :</h2>
        <p>Starting date :</p>
        <input type="date" v-model="dateStart">
        <p>End date :</p>
        <input type="date" v-model="dateEnd">
        <p>La date commence le {{ dateStart }} et finit le {{ dateEnd}}</p>
        <div>
            <div style="display:inline-block;" v-for="item in dateRange" v-bind:key="item">
                <table style="width:30%" border="1px solid black;">
                    <tr style="text-align:center">{{item}}</tr>
                    <table>
                        <td v-for="item in ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']" v-bind:key="item">{{item}}</td>
                    </table>
                </table>
            </div>
        </div>

    </div>         
</template>          

<script>
export default {
    data(){
        return{
            dateStart : "2021-03-09",
            dateEnd : "2021-03-09",
            dateRange : ['2021-03-09','2021-03-10','2021-03-11']
        }
    }
}
</script>






<style>

</style>