<!-- use Playground.vue to play around with the gantt chart components and test out new features -->
<template>
  <div>

    <!-- 
      1) Input
      2) Chart component (with onDragevent)
      2.1) Foreach row in rowlist : row component
      2.1.1) 



    -->

    <p>Starting date :</p>
    <input type="date" v-model="chartStart">
    <p>End date :</p>
    <input type="date" v-model="chartEnd">

    <g-gantt-chart
        :chart-start="chartStart"
        :chart-end="chartEnd"
        :grid="grid"
        :hide-timeaxis="hideTimeaxis"
        :push-on-overlap="true"
        snap-back-on-overlap
        :highlighted-hours="highlightedHours"
        :row-label-width="`${rowLabelWidth}%`"
        :row-height="rowHeight"
        :theme="selectedTheme"
        @dragend-bar="onDragend($event)"
      >
        <template v-for="row in rowList">
          <g-gantt-row 
            :key="row.label"
            :label="row.label"
            :bars="row.barList"
            :highlight-on-hover="highlightOnHover"
            bar-start="myStart"
            bar-end="myEnd"
          >
            <template #bar-label="{bar}">
              <span>{{bar.label}}</span>
            </template>
          </g-gantt-row>
        </template>
      </g-gantt-chart>
  </div>
</template>

<script>
import GGanttChart from './components/TMS/GGanttChart.vue'
import GGanttRow from './components/TMS/GGanttRow.vue'

export default {
  components:{
    GGanttChart,
    GGanttRow
  },
  data(){
    return {
      chartStart: "2021-03-02 00:00",
      chartEnd: "2021-03-04 00:00",
      pushOnOverlap: true,
      grid: true,
      rowHeight: 100,
      rowLabelWidth: 10,
      hideTimeaxis: false,
      highlightOnHover: true,
      hours: [...Array(24).keys()],
      highlightedHours: [0],
      showContextmenu: false,
      contextmenuTimeout: null,
      contextmenuX: 0,
      contextmenuY: 0,
      selectedTheme: "default",
      themes: [
        "default",
        "vue",
        "dark",
        "material-blue",
        "creamy",
        "slumber",
        "sky",
        "crimson",
        "grove",
        "fuchsia",
        "flare"
      ],
      rowList: [
        {
          label: "LO609 / T404",
          barList: [
            
          ]
        },

        {
          label: "KG404 / T403",
          barList: [
            {
              myStart: "2021-03-02 06:30",
              myEnd: "2021-03-03 20:00",
              label: "NL22 - IT21",
              ganttBarConfig:{color:"white", backgroundColor: "green", handles: true}
            }
            
          ]
        },

        {
          label: "LO686 / T402",
          barList: [
            
          ]
        },

        {
          label: "KC100 / T401",
          barList: [
            {
              myStart: "2021-03-03 06:30",
              myEnd: "2021-03-03 20:00",
              label: "NL22 - IT21",
              ganttBarConfig:{color:"white", backgroundColor: "green", handles: true}
            }
          ]
        }

      ]
    }
  },

  methods: {
    onDragend(e){
      console.log(e)
    }
  }
}
</script>

<style>

</style>